{% extends "login/base.html.twig" %}

{% block title %}Forgot password{% endblock %}

{% block page_header %}Forgot password{% endblock %}

{% block body %}
{{ form_start(forgotPasswordForm) }}
    {{ form_errors(forgotPasswordForm) }}
    {{ form_row(forgotPasswordForm.email) }}
    {{ form_rest(forgotPasswordForm) }}
    <div class="form-group">
        <button type="submit" class="btn btn-success">Send email<span class="fa fa-paper-plane"></span></button>
    </div>
{{ form_end(forgotPasswordForm) }}
{% endblock %}