<div class="sidebar-sticky">
    <ul class="nav flex-column flex-wrap">
        <li>
          <a class="nav-link" href="{{ path('place_list') }}">
              <span class="fa fa-map-marked-alt mr-2"></span> Places 
          </a>
        </li>
        <li>
          <a class="nav-link" href="{{ path('tariff_list') }}">
              <span class="fa fa-file-invoice-dollar mr-2"></span> Tariffs 
          </a>
        </li>
        <li>
          <a class="nav-link" href="{{ path('counter_list') }}">
              <span class="fa fa-tachometer-alt mr-2"></span> Counters 
          </a>
        </li>
        <li>
          <a class="nav-link" href="{{ path('service_list') }}">
              <span class="fa fa-cogs  mr-2"></span> Service
          </a>
        </li>
        <li>
          <a class="nav-link" href="{{ path('placeService_list') }}">
              <span class="fa fa-cogs fa-map-marker-alt mr-2"></span> Services for places
          </a>
        </li>
        <li>
          <a class="nav-link" href="{{ path('receipt_list') }}">
              <span class="fa fa-receipt mr-2"></span> Receipts
          </a>
        </li>
        <li>
          <a class="nav-link" href="{{ path('receipt_adjustment_list') }}">
              <span class="fa fa-sliders-h mr-2"></span> Receipt's adjustments
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a class="nav-link" href="{{ path('settings_list') }}">
              <span class="fa fa-tools mr-2"></span> Settings
          </a>
        </li>
        <li>
          <a class="nav-link" href="{{ path('payment_info_list') }}">
              <span class="fa fa-file-invoice mr-2"></span> Payment information
          </a>
        </li>
        <li>
          <a class="nav-link" href="{{ path('settings_password_change') }}">
              <span class="fa fa-lock mr-2"></span> Change password
          </a>
        </li>
    </ul>
</div>