{% extends "base.html.twig" %}

{% set titleValue = 'Change password' %}
{%- block title -%}{{ parent() }} {{ titleValue }}{% endblock %}

{% import 'macros/content_macros.html.twig' as contentMacros  %}
{% block body %}
{{ contentMacros.pageTitle(titleValue) }}

{% set successFlashes = app.flashes('success') %}
{% if successFlashes|length > 0 %}
    {% for message in successFlashes%}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    {% endfor %} 
{% endif %}

{{ form_start(changePasswordForm) }}
    {{ form_row(changePasswordForm.pass) }}
    {{ form_rest(changePasswordForm) }}
    {{ contentMacros.faButtonSaveSubmit('fa-sync-alt', 'Change password', 'btn-primary') }} 
{{ form_end(changePasswordForm) }}
{% endblock %}